<p>
  <mat-toolbar color="primary">
    <span>Gestor de consultas</span>
  </mat-toolbar>
</p>

<div class="container">
  <mat-grid-list cols="3">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Formulario</mat-card-title>
          &nbsp;<span class="material-icons" style="font-size: large">info</span>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Agregar clase</mat-label>
            <mat-select [formControl]="classes">
              <mat-option *ngFor="let clazz of classesList" [value]="clazz">{{clazz | translate}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Propiedades</mat-label>
            <mat-select [formControl]="properties" multiple>
              <mat-option *ngFor="let property of propertiesList" [value]="property">{{property | translate}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" class="button-margin" (click)="getOntologyData()">
            Consultar
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="full-width">
        <mat-label><strong>Clases</strong></mat-label>
        <div class="chips-container">
          <mat-chip-list>
            <mat-chip *ngFor="let clazz of selectedClasses">{{clazz | translate}}</mat-chip>
            <span class="material-icons"
                  *ngIf="selectedClasses.length > 0"
                  (click)="removeLastClass()">
              skip_previous
            </span>
          </mat-chip-list>
        </div><br>

        <mat-label><strong>Propiedades</strong></mat-label>
        <div class="chips-container">
          <mat-chip-list>
            <mat-chip *ngFor="let property of selectedProperties">{{property | translate}}</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <table cdk-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container *ngFor="let property of selectedProperties" cdkColumnDef="{{property}}">
          <th cdk-header-cell *cdkHeaderCellDef>{{property | translate}}</th>
          <td cdk-cell *cdkCellDef="let element"> {{element[property]}} </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="selectedProperties"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: selectedProperties;"></tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</div>
