.container {
  margin: 2%;
}

.full-width {
  width: 100%;
}

.button-margin {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.chips-container {
  margin-top: 10px;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
